.info
{
    position: relative;
}

.info
{   
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container select
{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
    background: #4db6ac;
    border: none;
    border-radius: 2px;
    width: 40%;
    color: #fff;
}